SUPABASE_URL=https://yigmmyehbpzevwvzxobe.supabase.co
SUPABASE_SECRET_KEY=your_supabase_secret_or_service_role_key
ADMIN_NICK=winzuxx
NODE_ENV=production
PORT=10000

# Необязательно, только если используешь восстановление пароля:
# SMTP_HOST=
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=
# SMTP_PASS=
# MAIL_FROM=
